/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcffff;
}

body {
    background-color: #222222;
}

.inside {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 40px;
}

.col-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    grid-gap: 0px;
    padding: 20px;
    @media only screen and (max-width: 845px) {
        display: flex;
    }
}